{% extends 'layout.html' %} {% load static %} {% block main %}


{% if messages %}
  <div class="alert alert-dismissible fade show" role="alert">
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  </div>
{% endif %}




<div class="container">
  <h5 class="card-title mt-3 mb-3">
    <i class="fas fa-boxes"></i> CAJA COCHERA
  </h5>

  <div class="form-container p-2" style="background-color: #d9d9d9">
    <form id="cerrarCajaForm" method="post" action="{% url 'cerrar_caja_cochera' %}">
      {% csrf_token %}
      
      <input type="hidden" name="total_cochera" value="{{ total_transacciones_cochera }}" />
      <div class="text-right">
        <button id="cerrarCajaBtn" type="submit" class="btn btn-primary" style="background-color: #3e82ff" > Cerrar Caja </button>
      </div>
    </form>
  </div>

  <div class="form-container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Placa</th>
          <th scope="col">Vehículo</th>
          <th scope="col">Conductor</th>
          <th scope="col">Fecha de Salida</th>
          <th scope="col">Total a Pagar</th>
        </tr>
      </thead>
      <tbody>
        
        {% for transaccion in transacciones_terminadas_cochera %}
        <tr>
          
          <td>{{ transaccion.vehiculo.placa }}</td>
          <td>{{ transaccion.tarifa_vehiculo.tipo_vehiculo }}</td>
          <td>
            {{ transaccion.conductor.nombres }} {{ transaccion.conductor.apellidos }}
          </td>
          <td>{{ transaccion.fecha_hora_salida }}</td>
          <td>{{ transaccion.precio_cochera}}</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>

    <hr />
    <div class="mb-3">
      <p>Mostrando {{ transacciones_terminadas_cochera.count }}</p>
      <h2>Total: S/ {{ total_transacciones_cochera }}</h2>
    </div>
  </div>

  {% endblock %}
</div>
