{% extends 'layout.html' %} {% load static %} {% block main %}




<div class="container mt-3">

  {% if messages %}
    <div class="alert alert-danger" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
  {% endif %}


  <h5 class="card-title mt-3 mb-3"> <i class="fas fa-boxes"></i> CAJA LAVADERO </h5>

  <div class="form-container p-2" style="background-color: #d9d9d9">
    <form id="cerrarCajaForm" method="post" action="{% url 'cerrar_caja_lavanderia' %}" >
      {% csrf_token %}
      <input type="hidden" name="total_lavanderia" value="{{ total_transacciones_lavanderia }}" />
      <div class="text-right">
        <button id="cerrarCajaBtn" type="submit" class="btn btn-primary" style="background-color: #3e82ff"> Cerrar Caja</button>
      </div>
    </form>
  </div>

  <div class="form-container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Placa</th>
          <th scope="col">Vehículo</th>
          <th scope="col">Conductor</th>
          <th scope="col">Fecha de Salida</th>
          <th scope="col">Total a Pagar</th>
        </tr>
      </thead>
      <tbody>
        {% for transaccion in transacciones_terminadas_lavanderia %}
        <tr>
          <td>{{ transaccion.vehiculo.placa }}</td>
          <td>{{ transaccion.tarifa_vehiculo.tipo_vehiculo }}</td>
          <td>
            {{ transaccion.conductor.nombres }} {{ transaccion.conductor.apellidos }}
          </td>
          <td>{{ transaccion.fecha_hora_salida }}</td>
          <td>S/ {{ transaccion.tarifa_vehiculo.precio_lavado }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <hr />
    <div class="mb-3">
      <p>Mostrando {{ transacciones_terminadas_lavanderia.count }}</p>
      <h2>Total: S/ {{ total_transacciones_lavanderia }}</h2>
    </div>
  </div>

  {% endblock %}
</div>
