{% extends 'layout.html' %} {% load static %} {% block main %}

<div class="container mt-5">
  <h6><i class="fas fa-history"></i> Historial de Caja - Lavandería</h6>

  <div class="form-container p-2" style="background-color: #eaeef0">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th scope="col">ID de Caja</th>
          <th scope="col">Total Cerrado</th>
          <th scope="col">Fecha de Cierre</th>
          <th scope="col">Tipo de Usuario</th>
          <th scope="col">Usuario</th>
        </tr>
      </thead>
      <tbody>
        {% for historial in historiales %}
        <tr>
          <td>
            <a href=""><i class="fas fa-arrow-right"></i></a>
          </td>
          <td>{{ historial.id }}</td>
          <td>{{ historial.monto_transaccion }}</td>
          <td>{{ historial.fecha_hora_transaccion }}</td>
          <td>{{ historial.tipo_usuario }}</td>
          <td>{{ historial.usuario.username }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="6">
            No hay historial de caja de lavandería disponible.
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <h4>Total Ingresos: S/ {{ total_ingresos }}</h4>
</div>

{% endblock %}
