{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caja</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/registro.css' %}">
    <script src="{% static 'js/registro.js' %}"></script>
</head>
<body>
    {% include 'layouts/navbar.html' %}
    {% include 'layouts/sidebar.html' %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 ">

        <h5 class="card-title mt-3 mb-3"><i class="fas fa-cash-register"></i> CAJA</h5>
        
        <div class="form-container text-center mb-3">
            <p class="mb-3 mt-3">Tener cuidado con el cierre de caja. Al hacer el cierre de caja, no habrá modificaciones. </p>

            <a href="{% url 'cajaLavanderia' %}" class="btn btn-primary d-inline-block mx-2 mb-3" style="background-color: #3E82FF;">CAJA LAVADERO </a>
            <a href="{% url 'caja_cochera' %}" class="btn btn-success d-inline-block mx-2 mb-3" style="background-color: #97CB1E;">CAJA COCHERA </a>


        </div>
        
        <div class="text-left mt-3">
            <button type="button" class="btn btn-danger"  style="background-color: #CB705D;">Reporte General de Caja</button>
        </div>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html> 


