{% extends 'layout.html' %}
{% load static %}

{% block main %}

    <h5 class="card-title mt-3 mb-3"><i class="fas fa-cash-register"></i> CAJA</h5>
        
    <div class="form-container text-center mb-3">
        <p class="mb-3 mt-3">Tener cuidado con el cierre de caja. Al hacer el cierre de caja, no habrá modificaciones. </p>
        <a href="{% url 'cajaLavanderia' %}" class="btn btn-primary d-inline-block mx-2 mb-3" style="background-color: #3E82FF;">CAJA LAVADERO </a>
        <a href="{% url 'caja_cochera' %}" class="btn btn-success d-inline-block mx-2 mb-3" style="background-color: #97CB1E;">CAJA COCHERA </a>
    </div>
        
    <div class="text-left mt-3">
        {% comment %} <button type="button" class="btn btn-danger" style="background-color: #CB705D;">Reporte General de Caja</button> {% endcomment %}
        <a href="{% url 'reporte_general' %}" class="btn btn-danger ml-2" style="background-color: #CB705D;">Reporte General de Caja</a>
        <a href="{% url 'historial_caja_lavanderia' %}" class="btn btn-danger ml-2" style="background-color: #CB705D;">Historial Caja Lavandería</a>
        <a href="{% url 'historial_caja_cochera' %}" class="btn btn-danger ml-2" style="background-color: #CB705D;">Historial Caja Cochera</a>
    </div>

    
{% endblock %}

