<!-- sidebar.html -->
{% load static %}

<div class="container-fluid">
  <div class="row">

    <nav class="col-md-2 d-none d-md-block sidebar " style="height: 100vh;">
      <div class="sidebar-sticky">
        <a href="{% url 'dashboard' %}">
          <img src="{% static 'img/Logo2.png' %}" alt="Logo" class="sidebar-logo" />
        </a>
      
        <hr class="sidebar-divider" />

        <ul class="nav flex-column">

          <!-- Lavaderia -->
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="#"
              data-toggle="collapse"
              data-target="#submenu-lavanderia"
              aria-expanded="false"
              aria-controls="submenu-lavanderia"
            >
              <i class="fas fa-soap mr-2"></i>
              Lavadero
            </a>
            <div class="collapse" id="submenu-lavanderia">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link text-white" href="{% url 'registro_lavanderia' %}" >
                    Registrar Lavadero
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="{% url 'historial_lavanderia' %}">
                    Historial de Lavadero
                  </a>
                </li>
              </ul>
              <hr class="sidebar-divider" />
            </div>
          </li>

          <!-- Cochera -->
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="#"
              data-toggle="collapse"
              data-target="#submenu-cochera"
              aria-expanded="false"
              aria-controls="submenu-cochera"
            >
              <i class="fas fa-car mr-2"></i>
              Cochera
            </a>
            <div class="collapse" id="submenu-cochera">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link text-white" href="{% url 'registro_cochera' %}">
                    Registrar Cochera
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="{% url 'historial_cochera' %}">
                    Historial de Cochera
                  </a>
                </li>
              </ul>
              <hr class="sidebar-divider" />
            </div>
          </li>

          <!-- Caja -->
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="#"
              data-toggle="collapse"
              data-target="#submenu-caja"
              aria-expanded="false"
              aria-controls="submenu-caja"
            >
              <i class="fas fa-cash-register mr-2"></i>
              Caja
            </a>
            <div class="collapse" id="submenu-caja">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link text-white" href="{% url 'cajaGeneral' %} "> Caja  </a>
                </li>
               
                <li class="nav-item">
                  <a class="nav-link text-white" href="{% url 'registrar_tarifa_vehiculo' %}">Registrar Tarifa</a>
                </li>

              </ul>
            </div>
          </li>

          <!-- Salida -->
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="{% url 'salidas' %}"
              data-toggle="collapse"
              data-target="#submenu-salidas"
              aria-expanded="false"
              aria-controls="submenu-salidas"
            >
              <i class="fas fa-door-open mr-2 "></i>
              Salidas
            </a>
            <div class="collapse" id="submenu-salidas">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link text-white" href="{% url 'salidas' %}"> Salidas </a>
              </ul>
            </div>

          </li>
          
        </ul>
      </div>
    </nav>



    {% comment %} <!-- Contenido principal -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      {% block content %}{% endblock %}

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" >
        <h1 class="h2">Dashboard</h1> 
      </div>

      <div class="row">
        <!-- Agrega widgets, gráficos, etc., aquí -->
      </div>
    </main> {% endcomment %}

  {% comment %} </div>
</div>  {% endcomment %}

