
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Registro </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/registro.css' %}">
    <script src="{% static 'js/registro.js' %}"></script>

</head>
<body>
    {% include 'layouts/navbar.html' %}
    {% include 'layouts/sidebar.html' %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

        <h5 class="card-title mt-3 mb-3">EDITAR REGISTRO</h5>

        <div class="form-container">
                        
            <form method="post" id="lavanderia-form">
                {% csrf_token %}
                
                <div class="row">
                <!-- Conductor -->
                    <div class="col-md-6 border-right">

                        <div class="form-group">
                            <label for="dni">DNI:</label>
                            <input type="text" class="form-control" id="dni" name="dni" maxlength="8" value="{{ lavanderia.conductor.dni }}">
                        </div>
                        <div class="form-group">
                            <label for="nombres">Nombres:</label>
                            <input type="text" class="form-control" id="nombres" name="nombres" readonly value="{{ lavanderia.conductor.nombres }}">
                        </div>
                        <div class="form-group">
                            <label for="apellidos">Apellidos:</label>
                            <input type="text" class="form-control" id="apellidos" name="apellidos" readonly value="{{ lavanderia.conductor.apellidos }}">
                        </div>

                  

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="id_telefono">Teléfono:</label>
                                <input type="text" class="form-control" id="id_telefono" name="telefono" value="{{ lavanderia.conductor.telefono }}">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="id_correo">Correo Electrónico:</label>
                                <input type="email" class="form-control" id="id_correo" name="correo" value="{{ lavanderia.conductor.correo }}">
                            </div>
                        </div>

                    </div>
        
                    <!-- Vehículo -->
                    <div class="col-md-6 border-right">

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="id_placa">Placa:</label>
                                <input type="text" class="form-control" id="id_placa" name="placa" value="{{ lavanderia.vehiculo.placa }}">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="id_modelo">Modelo:</label>
                                <input type="text" class="form-control" id="id_modelo" name="modelo" value="{{ lavanderia.vehiculo.modelo }}">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="id_marca">Marca:</label>
                                <input type="text" class="form-control" id="id_marca" name="marca" value="{{ lavanderia.vehiculo.marca }}">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="id_matricula">Matrícula:</label>
                                <input type="text" class="form-control" id="id_matricula" name="matricula" value="{{ lavanderia.vehiculo.matricula }}">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="id_color">Color:</label>
                                <input type="text" class="form-control" id="id_color" name="color" value="{{ lavanderia.vehiculo.color }}">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="id_serie">Serie:</label>
                                <input type="text" class="form-control" id="id_serie" name="serie" value="{{ lavanderia.vehiculo.serie }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="id_propietario">Propietario:</label>
                            <input type="text" class="form-control" id="id_propietario" name="propietario" value="{{ lavanderia.vehiculo.propietario }}">
                        </div>
                    </div>

                </div>

                <!-- Lavandería -->
                
                 <div class="row " style="margin-left: 10px;">
                    <div class="form-group form-check col-md-2">
                        <input type="checkbox" class="form-check-input" id="id_lavadero" name="lavadero" {% if lavanderia.lavadero %}checked{% endif %}>
                        <label class="form-check-label" for="id_lavadero">Lavadero</label>
                    </div>
                    <div class="form-group form-check col-md-2">
                        <input type="checkbox" class="form-check-input" id="id_cochera" name="cochera" {% if lavanderia.cochera %}checked{% endif %}>
                        <label class="form-check-label" for="id_cochera">Cochera</label>
                    </div>
                </div>

                <div class="row">

                    <div class="form-group col-md-2">
                        <label for="id_tipo_vehiculo">Tipo de Vehículo:</label>
                        <select class="form-control" id="id_tipo_vehiculo" name="tipo_vehiculo">
                            <option value="{{ tipo_vehiculo }}">{{ tipo_vehiculo }}</option>
                        </select>
                    </div>
                    
                    

                    <div class="form-group col-md-2">
                        <label for="id_tiempo">Tiempo:</label>
                        <select class="form-control" id="id_tiempo" name="tiempo">
                            <option value="manana" {% if lavanderia.tiempo == 'manana' %}selected{% endif %}>Mañana</option>
                            <option value="tarde" {% if lavanderia.tiempo == 'tarde' %}selected{% endif %}>Tarde</option>
                            <option value="noche" {% if lavanderia.tiempo == 'noche' %}selected{% endif %}>Noche</option>
                            <option value="dia_completo" {% if lavanderia.tiempo == 'dia_completo' %}selected{% endif %}>Día Completo</option>            
                        </select>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="id_precio">Precio:</label>
                        <input type="text" class="form-control" id="id_precio" name="precio" value="{{ lavanderia.precio }}">
                    </div>

                    <div class="form-group col-md-6 text-right " >
                        <button type="submit" class="btn-submit">Registrar</button>
                    </div>

                </div>
                

               

            </form> 
        </div>


    </main>

    <script>
        $(document).ready(function(){
            $('#dni').on('input', function(){
                var dni = $(this).val();
                if (dni.length === 8) {
                    $.ajax({
                        url: '{% url "obtener_nombres_apellidos" %}',
                        method: 'POST',
                        data: {
                            'dni': dni,
                            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                        },
                        success: function(response){
                            $('#nombres').val(response.nombres);
                            $('#apellidos').val(response.apellidos);
                        },
                        error: function(xhr, errmsg, err){
                            console.log(xhr.status + ": " + xhr.responseText);
                        }
                    });
                } else {
                    $('#nombres').val('');
                    $('#apellidos').val('');
                }
            });
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html> 