{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Lavandería</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

    <script>
        $(document).ready(function() {
            $('#id_tipo_vehiculo, #id_tiempo').change(function() {
                var tipoVehiculo = $('#id_tipo_vehiculo').val();
                var tiempoSeleccionado = $('#id_tiempo').val();
    
                $.ajax({
                    type: 'POST',
                    url: '{% url "obtener_precio" %}',
                    data: {
                        'tipo_vehiculo': tipoVehiculo,
                        'tiempo': tiempoSeleccionado,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        var precio;
                        switch(tiempoSeleccionado) {
                            case 'manana':
                                precio = response.precio.precio_manana;
                                break;
                            case 'tarde':
                                precio = response.precio.precio_tarde;
                                break;
                            case 'noche':
                                precio = response.precio.precio_noche;
                                break;
                            case 'dia_completo':
                                precio = response.precio.precio_dia_completo;
                                break;
                            default:
                                precio = 'Precio no disponible';
                        }
                        console.log("Precio recibido:", precio);
                        $('#id_precio').val(precio);
                    },
                    error: function(xhr, textStatus, errorThrown) {
                        console.log('Error al obtener el precio:', errorThrown);
                    }
                });
            });
        });
    </script>
   
    <style>
        /* Estilos para el formulario */
        .form-container {
            max-width: auto;
            margin: 0 auto;
            padding: 20px;
            background-color: #f8f9fa;
            border: 1px solid #dee2e6;
            border-radius: 5px;
        }

        /* Estilos para los campos */
        .form-group label {
            font-weight: bold;
        }

        .form-group input[type="text"],
        .form-group input[type="email"] {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            margin-bottom: 15px;
            border: 1px solid #ced4da;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .form-group select {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            margin-bottom: 15px;
            border: 1px solid #ced4da;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .form-check-input {
            margin-top: 5px;
            margin-bottom: 15px;
        }

        /* Estilos para el botón */
        .btn-submit {
            background-color: #007bff;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .btn-submit:hover {
            background-color: #0056b3;
        }
    </style>


</head>
<body>
    {% include 'layouts/navbar.html' %}
    {% include 'layouts/sidebar.html' %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">


        <h5 class="card-title">Registro de Lavandería</h5>

        <div class="form-container">
                        
            <form method="post" id="lavanderia-form">
                {% csrf_token %}
                
                <div class="row">
                <!-- Conductor -->
                    <div class="col-md-6 border-right">

                        <div class="form-group">
                            <label for="dni">DNI:</label>
                            <input type="text" class="form-control" id="dni" name="dni" maxlength="8">
                        </div>
                        <div class="form-group">
                            <label for="nombres">Nombres:</label>
                            <input type="text" class="form-control" id="nombres" name="nombres" readonly>
                        </div>
                        <div class="form-group">
                            <label for="apellidos">Apellidos:</label>
                            <input type="text" class="form-control" id="apellidos" name="apellidos" readonly>
                        </div>

                  

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="id_telefono">Teléfono:</label>
                                {{ conductor_form.telefono }}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="id_correo">Correo Electrónico:</label>
                                {{ conductor_form.correo }}
                            </div>
                        </div>

                    </div>
        
                    <!-- Vehículo -->
                    <div class="col-md-6 border-right">

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="id_placa">Placa:</label>
                                {{ vehiculo_form.placa }}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="id_modelo">Modelo:</label>
                                {{ vehiculo_form.modelo }}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="id_marca">Marca:</label>
                                {{ vehiculo_form.marca }}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="id_matricula">Matrícula:</label>
                                {{ vehiculo_form.matricula }}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="id_color">Color:</label>
                                {{ vehiculo_form.color }}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="id_serie">Serie:</label>
                                {{ vehiculo_form.serie }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="id_propietario">Propietario:</label>
                            {{ vehiculo_form.propietario }}
                        </div>
                    </div>

                </div>

                <!-- Lavandería -->
                
                 <div class="row " style="margin-left: 10px;">
                    <div class="form-group form-check col-md-2">
                        <input type="checkbox" class="form-check-input" id="id_lavadero" name="lavadero">
                        <label class="form-check-label" for="id_lavadero">Lavadero</label>
                    </div>
                    <div class="form-group form-check col-md-2">
                        <input type="checkbox" class="form-check-input" id="id_cochera" name="cochera">
                        <label class="form-check-label" for="id_cochera">Cochera</label>
                    </div>
                </div>

                <div class="row">

               

                    <div class="form-group col-md-2">
                        <label for="id_tipo_vehiculo">Tipo de Vehículo:</label>
                        <select class="form-control" id="id_tipo_vehiculo" name="tipo_vehiculo">
                            {% for tipo in tipos_vehiculo %}
                                <option value="{{ tipo }}">{{ tipo }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="id_tiempo">Tiempo:</label>
                        <select class="form-control" id="id_tiempo" name="tiempo">
                            <option value="manana">Mañana</option>
                            <option value="tarde">Tarde</option>
                            <option value="noche">Noche</option>
                            <option value="dia_completo">Día Completo</option>
                        </select>
                    </div>
                    
             


                    <div class="form-group col-md-2">
                        <label for="id_precio">Precio:</label>
                        {{ lavanderia_form.precio }}
                    </div>

                    <!-- Botón de enviar -->

                    <div class="form-group col-md-6 text-right " >
                        <button type="submit" class="btn-submit">Registrar</button>
                    </div>

                </div>
                

               

            </form> 
        </div>












    <script>
        $(document).ready(function(){
            $('#dni').on('input', function(){
                var dni = $(this).val();
                if (dni.length === 8) {
                    $.ajax({
                        url: '{% url "obtener_nombres_apellidos" %}',
                        method: 'POST',
                        data: {
                            'dni': dni,
                            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                        },
                        success: function(response){
                            $('#nombres').val(response.nombres);
                            $('#apellidos').val(response.apellidos);
                        },
                        error: function(xhr, errmsg, err){
                            console.log(xhr.status + ": " + xhr.responseText);
                        }
                    });
                } else {
                    $('#nombres').val('');
                    $('#apellidos').val('');
                }
            });
        });
    </script>

    </main>
</body>
</html>
