/* Estilos para el formulario */
.form-container {
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

/* Estilos para los campos */
.form-group label {
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-check-input {
    margin-top: 5px;
    margin-bottom: 15px;
}

/* Estilos para el botón */
.btn-submit {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #0056b3;
}


/* archivo: css/registro.css */
.alert {
    display: inline-block;
    width: auto;
}

.d-flex.justify-content-center.align-items-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Ajusta la altura según tus necesidades */
}

