{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Lavandería</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/registro.css' %}">
    {% comment %} <script src="{% static 'js/registro.js' %}"></script> {% endcomment %}


</head>
<body>
    {% include 'layouts/navbar.html' %}
    {% include 'layouts/sidebar.html' %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

        <div class="container mt-4">
            <h1 class="mb-4">Detalles de Salida</h1>
    
            <div class="card">
                <div class="card-body">

                    <h5 class="card-title ">REALIZAR PROCESO DE IDENTIFICACIÓN DE LAS ACTIVIDADES</h5>

                    <div class="row mt-5">
                        <!-- Conductor -->
                        <div class="col-md-6 border-right">
    
                            {% comment %} <div class="form-group">
                                <label for="dni">DNI:</label>
                                 <p class="card-text">{{ lavanderia.conductor.dni }} </p>
                            </div> {% endcomment %}
                            
                            <div class="form-group">
                                <label for="nombres">Conductor:</label>
                                <p class="card-text">{{ lavanderia.conductor.nombres }} {{ lavanderia.conductor.apellidos }}</p>
                            </div>

                           

                            <div class="row " style="margin-left: 10px;">
                                <div class="form-group form-check col-md-2">
                                    <label for="id_lavadero">Lavadero</label>
                                    <p class="card-text">{% if lavanderia.lavadero %}Sí{% else %}No{% endif %}</p>
                                </div>
        
                                <div class="form-group form-check col-md-2">
                                    <label for="id_cochera">Cochera</label>
                                    <p class="card-text">{% if lavanderia.cochera %}Sí{% else %}No{% endif %}</p>
                                </div>
                            </div>

    
                        </div>
            
                        <!-- Vehículo -->
                        <div class="col-md-6 border-right">
    
                            <div class="row" style="margin-left: 10px;">
                                <div class="form-group form-check col-md-6">
                                    <label for="id_fecha_entrada">Fecha y Hora de Entrada:</label>
                                    <p class="card-text">{{ lavanderia.fecha_hora_entrada }}</p>
                                </div>
                            </div>

                            <div class="row" style="margin-left: 10px;">
                                <div class="form-group form-check col-md-6">
                                    <label for="id_precio_lavado">Precio por Lavado:</label>
                                    <p class="card-text">{{ lavanderia.tarifa_vehiculo.precio_lavado }}</p>
                                </div>
                            </div>

                            <div class="row" style="margin-left: 10px;">
                                <div class="form-group form-check col-md-6">
                                    <label for="id_precio_cochera">Precio por Cochera:</label>
                                    <p class="card-text">{{ lavanderia.tarifa_vehiculo.precio_cochera }}</p>
                                </div>
                            </div>


                        </div>

                    </div>
    
                    <div class="row">
    
                        <div class="form-group col-md-2">
                            <label for="id_tipo_vehiculo">Tipo de Vehículo:</label>
                            <p class="card-text">{{ lavanderia.tipo_vehiculo }} </p>
                        </div>
                        
                        <div class="form-group col-md-2">
                            <label for="id_tiempo">Tiempo:</label>
                            <p class="card-text">{{ lavanderia.tiempo}} </p>
                        </div>
    
                        <div class="form-group col-md-2">
                            <label for="id_precio">Precio:</label>
                            <p class="card-text">{{ lavanderia.precio }} </p>
                        </div>

                        <div class="col-md-6 border-right">
                            <!-- Otros campos de lavandería -->
                            <div class="row" style="margin-left: 10px;">
                                <div class="form-group form-check col-md-6">
                                    <label for="id_fecha_entrada">Precio por Lavado:</label>
                                    <p class="card-text">{{ lavanderia.tarifa_vehiculo.precio_lavado }}</p>
                                </div>
                            </div>
                        
                            <div class="row" style="margin-left: 10px;">
                                <div class="form-group form-check col-md-6">
                                    <label for="id_precio_cochera">Precio por Cochera:</label>
                                    <p class="card-text">{{ lavanderia.tarifa_vehiculo.precio_cochera }}</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-6 text-right " >
                            <button type="submit" class="btn-submit">Ir a Pagar</button>
                        </div>
    
                    </div>
                                        
                </div>
            </div>
            
    
        </div>


    </main>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html> 