{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Lavandería</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/registro.css' %}">

</head>
<body>
    {% include 'layouts/navbar.html' %}
    {% include 'layouts/sidebar.html' %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

        <div class="mt-5">

            <form method="GET" action="{% url 'salidas' %}">
                <label for="numero_dni">Número de DNI:</label>
                <input type="text" id="numero_dni" name="numero_dni">
        
                <!-- Agrega aquí otros campos de búsqueda si los necesitas -->
        
                <button type="submit">Buscar</button>
            </form>
        
            <h5>Resultados de Búsqueda</h5>
            
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead style="background-color: #4568dc;">
                        <tr>
                            <th style="color: white;">Conductor</th>
                            <th style="color: white;">DNI</th>
                            <th style="color: white;">Vehículo</th>
                            <th style="color: white;">Placa</th>
                            <th style="color: white;">Acceder Salida</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for registro in resultados %}
                        <tr>
                            <td>{{ registro.conductor.nombres }} {{ registro.conductor.apellidos }}</td>
                            <td>{{ registro.conductor.dni }}</td>
                            <td>{{ registro.vehiculo.marca }} {{ registro.vehiculo.modelo }}</td>
                            <td>{{ registro.vehiculo.placa }}</td>
                            <td>
                                {% if registro.estado != 'terminada' %}
                                    <a href="{% url 'accedersalida' %}?lavanderia_id={{ registro.id }}" class="btn btn-success btn-sm">Acceder</a>
                                {% else %}
                                    Salida concluida
                                {% endif %}
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        
        </div>
      
        


    </main>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html> 