{% extends 'layout.html' %} {% load static %} {% block main %}

<div class="container mt-5">
    
  <form method="GET" action="{% url 'salidas' %}">
    <label for="numero_dni">Número de DNI:</label>
    <input type="text" id="numero_dni" name="numero_dni" />
    <button type="submit">Buscar</button>
  </form>

  {% if error %}
  <p style="color: red">{{ error }}</p>
  {% endif %}

  {% comment %} <h5>Resultados de Búsqueda</h5> {% endcomment %}

  <div class="table-responsive">
    <table class="table table-striped">
      <thead style="background-color: #4568dc">
        <tr>
          <th style="color: white">Conductor</th>
          <th style="color: white">DNI</th>
          <th style="color: white">Vehículo</th>
          <th style="color: white">Placa</th>
          <th style="color: white">Acceder Salida</th>
        </tr>
      </thead>
      <tbody>
        {% if resultados %}
        <ul>
          {% for item in resultados %}
          <tr>
            <td>{{ item.conductor.nombres }} {{ item.conductor.apellidos }}</td>
            <td>{{ item.conductor.dni }}</td>
            <td>{{ item.vehiculo.marca }} {{ item.vehiculo.modelo }}</td>
            <td>{{ item.vehiculo.placa }}</td>

              {% if item.estado != 'terminada' %}
              {% if 'Lavadero' in item.servicio and 'Cochera' in item.servicio %}
                  <a href="{% url 'accedersalida' %}?id={{ item.id }}" class="btn btn-success">Salida de Vehículo</a>
              {% elif 'Lavadero' in item.servicio %}
                  <a href="{% url 'accedersalida' %}?id={{ item.id }}" class="btn btn-success">Acceder LAVADO</a>
              {% elif 'Cochera' in item.servicio %}
                  <a href="{% url 'acceder_salida_cochera' %}?id={{ item.id }}" class="btn btn-success">Acceder COCHERA</a>
              {% endif %}
          {% else %}
              Salida concluida
          {% endif %}
            
            </td>
          </tr>

          {% endfor %}
        </ul>

        {% endif %}
        
      </tbody>
      <h6 style="color:#bdc3c7;">Resultados de Búsqueda</h6>
    </table>
  </div>
</div>

{% endblock %}
